.simple-label {
    background-color: transparent;
    border-bottom: #cacaca 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 1px;
}

.modal.multiple-modal {
    background: rgba(0, 0, 0, 0.2);
    filter: Alpha(opacity=20);
}


.multiple-content {
    filter: alpha(opacity=10);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    top: auto;
}


.line{
    display: block;
    background: red;
    height: 2px;
    width: 50%;
    top:88px;
    transition: margin-left 0.6s;
    -webkit-transition: margin-left 0.6s;
    -o-transition: margin-left 0.6s;
    -moz-transition: margin-left 0.6s ;
}

.line-1{
    margin-left: 0%;
}

.line-2{
    margin-left: 50%;
}

.color-red{
    color: red !important;
}

.color-black{
    color: black !important;;
}

.border-clear{
    border: none;
}

.button.multiple-select{
    min-height: 0px;
    line-height: 34px;
    right:0px;
    position: absolute;
    /*width: 200px;*/
}

.publish-padding{
    padding-top: 3px;
    padding-right: 7px;
}

.detail-label-title{
    display: inline;
    line-height: 12px;
}

.detail-label-text{
    position: absolute;
    right: 10px;
    color: silver;
}

.query-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*position: absolute;*/
    margin-top: 10px;
    bottom: 0;
    right: 0;
    /*padding: 0 48px 0 16px;*/
    width: 23%;
    border: none;
    background: #fff;
    color: #333;
    text-indent: .01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
}

.query-select-div{
    display: inline;
    width: 25%;
}
.query-select-div:after {
    position: absolute;
    /*top: 50%;*/
    /*right: 16px;*/
    margin-top: 20px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    content: "";
    pointer-events: none;
}