<div class="bar bar-header" ng-class = "{'bar-assertive':multipleSelect.assertive,
                                            'bar-positive':multipleSelect.positive}">
    <h1 class="title title-left">{{multipleSelect.title}}</h1>
    <button class="button button-clear" style="position: absolute;
    top: 5px;
    right: 50px;
    bottom: 5px;">
        确认
    </button>
    <button class="button button-clear" ng-click="modal.hide()" >
        取消
    </button>
</div>
<ion-content class="has-header">
    <ul class="list" ng-if="noDivide">
        <li ng-repeat="opt in multipleSelect.opts" class="item item-checkbox checkbox-assertive">
            <label class="checkbox">
                <input type="checkbox" ng-checked='userInfo.sex == {{opt.id}}'>
            </label>
            {{opt.text}}
        </li>
    </ul>


    <div ng-repeat="item in multipleSelect.opts" ng-if="divide">
        <div class="item item-divider item-assertive" ng-click="">{{item.sign}}</div>
        <ul class="list" >
            <li ng-repeat="opt in item.data" class="item item-checkbox checkbox-assertive">
                <label class="checkbox">
                    <input type="checkbox" ng-checked='userInfo.sex == {{opt.id}}'>
                </label>
                {{opt.text}}
            </li>
        </ul>
    </div>

</ion-content>