<ion-view view-title="终端代理查询页面">
    <!--<div class="bar bar-header bar-assertive">-->
        <!--<h1 class="title header-title">终端代理查询页面</h1>-->
    <!--</div>-->
    <div class="bar bar-subheader ">
        <div class="button-bar">
            <a class="button button-clear button-dark"
               ng-class="{'1': 'color-red', '2': 'color-black' }[switchType.tabType]" ng-click="switchClick('1')">
                <span>医院</span>
            </a>
            <a class="button button-clear button-dark"
               ng-class="{'2': 'color-red', '1': 'color-black' }[switchType.tabType]" ng-click="switchClick('2')">
                <span>药店</span>
            </a>
        </div>
    </div>
    <div class="line" ng-class="{'1': 'line line-1', '2': 'line line-2' }[switchType.tabType] "
         style="position: absolute"></div>
    <div class="" style="position: absolute; top:91px; width: 100%">
        <div class="query-select-div"><select ng-model="data.proxy" ng-change="doProxySelect()" class="query-select">
            <option ng-repeat="item in proxyOptions" value="{{item.id}}">
                {{item.text}}
            </option>
        </select></div>
        <div class="query-select-div"><select ng-model="data.proxy" ng-change="doProxySelect()" class="query-select">
            <option ng-repeat="item in proxyOptions" value="{{item.id}}">
                {{item.text}}
            </option>
        </select></div>
        <div class="query-select-div"><select ng-model="data.proxy" ng-change="doProxySelect()" class="query-select">
            <option ng-repeat="item in proxyOptions" value="{{item.id}}">
                {{item.text}}
            </option>
        </select></div>
        <div class="query-select-div"><select ng-model="data.proxy" ng-change="doProxySelect()" class="query-select">
            <option ng-repeat="item in proxyOptions" value="{{item.id}}">
                {{item.text}}
            </option>
        </select></div>

        <!--</div>-->
    </div>
    <ion-content class="has-subheader" style="top:130px">
        <div class="list">

            <a class="item item-thumbnail-left" ng-show="switchType.hospital" href="#/terminal-proxy-detail/1">
                <img src="img/man.png">
                <h2 class="query-list-title">刘先生</h2>
                <p>处方药&nbsp;检验设备&nbsp;高值耗材</p>
                <p>北京&nbsp;|&nbsp;医保物价能力&nbsp;|&nbsp;开发&nbsp;|&nbsp;城市医院</p>
            </a>

            <a class="item item-thumbnail-left" href="#" ng-show="switchType.pharmacy">
                <img src="img/woman.png">
                <h2 class="query-list-title">刘先生</h2>
                <p>处方药&nbsp;器械&nbsp;保健品</p>
                <p>北京&nbsp;|&nbsp;医保物价能力&nbsp;|&nbsp;开发&nbsp;|&nbsp;连锁药店</p>
            </a>

            <a class="item" href="#" ng-show="switchType.pharmacy">
                <h2>李先生</h2>
                <p>处方药&nbsp;器械</p>
                <p>河北&nbsp;|&nbsp;临床上量能力&nbsp;|&nbsp;开发+上量&nbsp;|&nbsp;连锁药店</p>
            </a>

            <a class="item" href="#" ng-show="switchType.pharmacy">
                <h2>王先生</h2>
                <p>处方药&nbsp;器械&nbsp;保健品</p>
                <p>北京&nbsp;|&nbsp;医保物价能力&nbsp;|&nbsp;开发&nbsp;|&nbsp;连锁药店</p>
            </a>

            <a class="item" href="#" ng-show="switchType.pharmacy">
                <h2>李先生</h2>
                <p>处方药&nbsp;器械</p>
                <p>河北&nbsp;|&nbsp;临床上量能力&nbsp;|&nbsp;开发+上量&nbsp;|&nbsp;连锁药店</p>
            </a>

            <a class="item" href="#" ng-show="switchType.pharmacy">
                <h2>王先生</h2>
                <p>处方药&nbsp;器械&nbsp;保健品</p>
                <p>北京&nbsp;|&nbsp;医保物价能力&nbsp;|&nbsp;开发&nbsp;|&nbsp;连锁药店</p>
            </a>

            <a class="item" href="#" ng-show="switchType.pharmacy">
                <h2>李先生</h2>
                <p>处方药&nbsp;器械</p>
                <p>河北&nbsp;|&nbsp;临床上量能力&nbsp;|&nbsp;开发+上量&nbsp;|&nbsp;连锁药店</p>
            </a>
            <a class="item" href="#" ng-show="switchType.pharmacy">
                <h2>王先生</h2>
                <p>处方药&nbsp;器械&nbsp;保健品</p>
                <p>北京&nbsp;|&nbsp;医保物价能力&nbsp;|&nbsp;开发&nbsp;|&nbsp;连锁药店</p>
            </a>

            <a class="item" href="#" ng-show="switchType.pharmacy">
                <h2>李先生</h2>
                <p>处方药&nbsp;器械</p>
                <p>河北&nbsp;|&nbsp;临床上量能力&nbsp;|&nbsp;开发+上量&nbsp;|&nbsp;连锁药店</p>
            </a>
        </div>

    </ion-content>
</ion-view>


